<header class="heading">
    <a href="#reader" class="logo"> <span class="fas fa-snowflake"></span>wheather<span class="fas fa-snowflake"></span></a>

    <nav>
        <a href="/">Home</a>
        <a href="/check">{{check}}</a>
        <a href="/about">About me</a>
        <a href="/form" id="add">Add Article</a>
    </nav>

    <div class="fas fa-bars" id="menu-btn" ></div>
</header>