<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wheather by cj</title>

    <!-- fav icon -->

    <link rel="shortcut icon" href="../img/logo.png" type="image/image">

    <!-- custome css link -->

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/media.css">

    <!-- font awesome cdn link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    {{>header}}

    <section class="about">
        <div class="about_container">
            <div class="img">
                <img src="img/men3.png" alt="">
                
            </div>
            <div class="abouts">
                <h1>Who Am I?</h1>
                <p> <span>Hi!</span> I am  Ye' Lin Tun and I am 18 years old self-teaching programmer.I had finished my heigh-school study and now I am doing the thing that I love most.I am from Myanmar(Burma) and I am a intermedatide skills of web developement.As font-end I know <span>Html,css,javscript</span>and as back-end <span>Node js , Express js and Python(flask)</span></p>
            </div>
        </div>
    </section>
</body>
<script src="js/about.js"></script>
</html>
