<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>From</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/media.css">
    <link rel="stylesheet" href="css/form.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    {{>header}}

    <form action="/form" method="post">
        <p>Enter the title</p>
        <input type="text" name="title" id="head" placeholder="Enter the titel">

        <p>Enter the title with question</p>
        <input type="text" name="question" id="question header" placeholder="eg.what the that means">

        <p>Enter the short details</p>
        <input type="text" name="short" id="short" placeholder="Enter the details in short">
      
        <p>Enter the articles</p>
        <textarea name="details" id="" cols="30" rows="10" placeholder="Start your article here"></textarea>

        <p>Enter the password</p>
        <input type="password" name="password" id="password" placeholder="Enter your password here" style="text-transform: none;">

        <input type="submit" value="Push" id="submit" >
    </form>
    <script >
        const menuActivator = (option)=>{
    let menuBtn = document.querySelector('#menu-btn');
    let searchBtn = document.querySelector('#search-btn');
    menuBtn.addEventListener("click",()=>{
    let navBar  = document.querySelector('nav');
    navBar.classList.toggle('active');
    if(navBar.classList.contains('active')){
        let form   = document.querySelector("form");
        form.classList.add('active');
    }
    else{
         let form   = document.querySelector("form");
         form.classList.remove('active');
    }
    if(option){
        console.log('here')
        let searchBox = document.querySelector('search');
        // searchBox.style.zIndex = "-1";
        searchBox.classList.toggle('deactive');
    }
    else{
        console.log('here not')
        let searchBox = document.querySelector('.search');
        // searchBox.style.zIndex = "1";
    }
    })
}
menuActivator()
    </script>
</body>
</html>