<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wheather by cj</title>

    <!-- fav icon -->

    <link rel="shortcut icon" href="../img/logo.png" type="image/image">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- custome css link -->

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/media.css">

    <!-- font awesome cdn link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
{{!-- <header class="heading">
    <a href="/" class="logo"> <span class="fas fa-snowflake"></span>wheather<span class="fas fa-snowflake"></span></a>

    <nav>
        <a href="">Home</a>
        <a href="">Check</a>
        <a href="">About me</a>
    </nav>

    <div class="fas fa-bars" id="menu-btn" ></div>
</header> --}}
{{>header}}

<section class="home">
    <div class="container">

        <div class="intro">
            <h3>Wheather by <span>Empire</span></h3>
            <p>This service is made my Empire And Its the best and friendly  user interface,fast and acturate avabiable for <span>24/7</span> for free so enjoy it.</p>
            <button>Check</button>
        </div>

        <div class="pics">
            <img src="../img/pic1.png" alt="not found">
        </div>
    </div>
</section>

<section class="articles">

    <h1 class="art-heading"><span class=".btns">Our Articles</span></h1>
    <div class="articles-container">
        
    </div>
  
<div class="reader" id="reader" >
        <i class="fas fa-times" id="close-btn"></i>
        <div class="reader-container">
            <h1 id="reader-first-head">What is  blue sky means?</h1>
            <h4 id="reader-second-head"></h4>
            <p id="reader-data">
</p>
        </div>
    </div>
    
</section>



    <!-- js link -->
    <script src="js/index.js"></script>
</body>
</html>